.bounce-top {
  display: block;
  -webkit-animation: bounce-top 2s infinite both;
          animation: bounce-top 2s infinite both;
}

@-webkit-keyframes bounce-top {
  0% {
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 72px;
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
}

/*Zmienne globalne*/
h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #2449b6;
  margin-bottom: 30px;
}

.wraper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.wraper h2 {
  font-size: 25px;
}
.wraper p {
  font-size: 16px;
  width: 300px;
  margin-left: 50px;
}

/*Nawigacja*/
nav {
  text-transform: uppercase;
  background-color: #ddd;
  transition: color 0.3s;
  padding: 0 !important;
  z-index: 10;
}
nav .active {
  color: #2449b6 !important;
}
nav .nav-link:hover {
  color: #2449b6;
}
nav .navbar-brand img {
  padding: 15px 0;
  width: 90px;
  height: 62px;
}

header {
  color: #fff;
}
header h1 {
  text-transform: uppercase;
  font-size: 25px;
}
header p {
  font-size: 14px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/heart-640.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
header .hero-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  z-index: 2;
}

.btn-outline-light {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
}

.ti-chevron-down {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.aboutus .team-wrap .card {
  cursor: pointer;
  margin: 0 5px;
}
.aboutus .team-wrap .card img {
  height: 250px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.aboutus .team-wrap .links-media a {
  text-decoration: none;
  color: black;
}
.aboutus .team-wrap .links-media i {
  font-size: 26px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}
.aboutus .team-wrap .links-media .ti-brand-facebook:hover {
  color: white;
  background-color: royalblue;
}
.aboutus .team-wrap .links-media .ti-brand-instagram:hover {
  background-color: #fcaf45;
}
.aboutus .team-wrap .links-media .ti-brand-linkedin:hover {
  background-color: #5a81f7;
}
.aboutus .opis-firmy p {
  margin-bottom: 0px;
}
.aboutus .opis-firmy .ekipawspolne {
  position: relative;
  margin-bottom: 10px;
}
.aboutus .opis-firmy .ekipawspolne img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio {
  margin-top: 50px;
}
.portfolio .wrap-portfolio {
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}
.portfolio .wrap-portfolio ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.portfolio .wrap-portfolio ul li {
  list-style: none;
  background: #eee;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 6px;
}
.portfolio .wrap-portfolio ul li.active {
  background: #2449b6;
  color: #fff;
}
.portfolio .wrap-portfolio .galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio .wrap-portfolio .galeria .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
  display: block;
  transition: 0.3s;
}
.portfolio .wrap-portfolio .galeria .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .wrap-portfolio .galeria .itemBox .item-tekst {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  left: 25px;
  top: 25px;
  width: 250px;
  height: 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}
.portfolio .wrap-portfolio .galeria .itemBox .item-tekst .kto {
  font-weight: bold;
}
.portfolio .wrap-portfolio .galeria .itemBox .item-tekst i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.portfolio .wrap-portfolio .galeria .itemBox .item-tekst i:hover {
  color: #fff;
  background-color: #2449b6;
}
.portfolio .wrap-portfolio .galeria .itemBox.active {
  display: flex;
}
.portfolio .wrap-portfolio .galeria .itemBox.hide {
  display: none;
}
.portfolio .wrap-portfolio .galeria .itemBox:hover {
  scale: 1.02;
}
.portfolio .wrap-portfolio .galeria .itemBox:hover .item-tekst {
  display: flex;
}

.oferta .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  height: 500px;
}
.oferta .price-box h3 {
  color: #4e78f7;
  text-transform: uppercase;
}
.oferta .price-box span {
  font-weight: 500;
}
.oferta .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}
.oferta .price-box .price-tag {
  font-size: 30px;
  font-weight: bold;
}
.oferta .price-box:hover {
  transform: scale(1.05);
}
.oferta .price-info {
  margin-top: 30px;
}
.oferta .price-info a {
  text-decoration: none;
}

.opinie .cardsOpinion .opinionItem {
  position: relative;
  margin: 30px;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.opinie .cardsOpinion .opinionItem a {
  text-decoration: none;
  color: black;
}
.opinie .cardsOpinion .opinionItem a .ti {
  position: absolute;
  font-size: 30px;
  top: 5px;
  left: 5px;
  transition: background-color 0.3s, color 0.3s;
  padding: 5px;
  border-radius: 50%;
}
.opinie .cardsOpinion .opinionItem a .ti:hover {
  color: white;
  background-color: royalblue;
}
.opinie .cardsOpinion .opiniaN {
  font-weight: bold;
  font-size: 1.2rem;
}

.addition-footer {
  position: relative;
  background-image: url("../img/contact-hero.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
.addition-footer h2 {
  color: lightgray;
  font-weight: bold;
}
.addition-footer .underline {
  background-color: lightgray;
}
.addition-footer .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.85);
  z-index: -5;
}
.addition-footer .contact-us {
  display: flex;
  align-items: center;
  color: #fff;
}
.addition-footer .contact-us .contact-item {
  margin: 30px 0;
}
.addition-footer .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.addition-footer .contact-us .contact-item p i {
  margin-right: 10px;
}
.addition-footer .contact-us .contact-item .social-media {
  font-size: 26px;
}
.addition-footer .contact-us .contact-item .social-media a {
  padding: 10px;
  color: #fff;
}
.addition-footer .contact-us .contact-item .social-media a:hover {
  color: lightgray;
}

@media (min-width: 300px) {
  .oferta .price-box.dodatki {
    height: 700px;
  }
}
@media (min-width: 376px) {
  header h1 {
    font-size: 30px;
  }
  header p {
    font-size: 16px;
  }
  .oferta .price-box.dodatki {
    height: 700px;
  }
}
@media (min-width: 786px) {
  .modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal .boxModal {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal .boxModal img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .modal .boxModal.pion {
    width: 600px;
    height: 800px;
  }
  .modal .boxModal.poziom {
    width: 600px;
    height: 800px;
  }
  .modal i {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 50px;
    color: #fff;
  }
  .modal i:hover {
    color: #2449b6;
    cursor: pointer;
    transition: color 0.3s;
  }
  .modal.active {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 18px;
  }
  .oferta .price-box.dodatki {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .price-info {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/heart-1920.webp");
  }
  header h1 {
    font-size: 46px;
  }
  header p {
    font-size: 24px;
  }
  header #buttonHome {
    font-size: 20px;
  }
  .opis-firmy {
    padding: 0;
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=main.css.map */