@import 'colors';
@import 'animate';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 72px;
}
body {
	position: relative;
	font-family: 'Rubik', sans-serif;
}

/*Zmienne globalne*/

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $blue-color;
	margin-bottom: 30px;
}
.wraper {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
		width: 300px;
		margin-left: 50px;
	}
}

/*Nawigacja*/
nav {
	text-transform: uppercase;
	background-color: #ddd;
	transition: color 0.3s;
	padding: 0 !important;
	z-index: 10;
	.active {
		color: $blue-color !important;
	}
	.nav-link:hover {
		color: $blue-color;
	}

	.navbar-brand {
		img {
			padding: 15px 0;
			width: 90px;
			height: 62px;
		}
	}
}

header {
	color: $white;

	h1 {
		text-transform: uppercase;
		font-size: 25px;
	}
	p {
		font-size: 14px;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/heart-640.webp');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}
	.hero-text {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		padding: 25px;
		z-index: 2;
	}
}

.btn-outline-light {
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 15px;
}
.ti-chevron-down {
	position: absolute;
	font-size: 30px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: $white;
}

.aboutus {
	.team-wrap {
		.card {
			cursor: pointer;
			margin: 0 5px;
			img {
				height: 250px;
				object-fit: scale-down;
			}
		}
		.links-media {
			i {
				font-size: 26px;
				transition: background-color 0.3s;
			}
			i:hover {
				background-color: $blue-color;
				border-radius: 5px;
			}
		}
	}
	.opis-firmy {
		p {
			margin-bottom: 0px;
		}
	}
}

.portfolio {
	margin-top: 50px;

	.wrap-portfolio {
		padding: 20px;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 40px auto;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 20px;
			li {
				list-style: none;
				background: #eee;
				padding: 12px 20px;
				margin: 5px;
				letter-spacing: 1px;
				cursor: pointer;
				transition: 0.5s;
				border-radius: 6px;
			}
			li.active {
				background: $blue-color;
				color: #fff;
			}
		}

		.galeria {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			.itemBox {
				position: relative;
				width: 300px;
				height: 300px;
				margin: 5px;
				display: block;
				transition: 0.3s;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.item-tekst {
					position: absolute;

					background-color: $filtr-biały;
					left: 25px;
					top: 25px;
					width: 250px;
					height: 250px;
					justify-content: center;
					text-align: center;
					align-items: center;
					display: none;

					.kto {
						font-weight: bold;
					}
					i {
						position: absolute;
						bottom: 5px;
						right: 5px;
						font-size: 20px;
						font-weight: bold;
						padding: 10px;
						text-decoration: none;
						color: $black;
						border: 1px solid $black;
						border-radius: 50%;
						transition: 0.3s;
					}
					i:hover {
						color: $white;
						background-color: $blue-color;
					}
				}
			}
			.itemBox.active {
				display: flex;
			}
			.itemBox.hide {
				display: none;
			}
			.itemBox:hover {
				scale: (1.02);
				.item-tekst {
					display: flex;
				}
			}
		}
	}
}

.oferta {
	.price-box {
		margin: 20px 10px;
		padding: 30px;
		background-color: $white;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: transform 0.3s;
		height: 500px;

		h3 {
			color: #4e78f7;
			text-transform: uppercase;
		}

		span {
			font-weight: 500;
		}

		button {
			padding: 10px 20px;
			text-transform: uppercase;
		}

		.price-tag {
			font-size: 30px;
			font-weight: bold;
		}
	}

	.price-box:hover {
		transform: scale(1.05);
	}

	.price-info {
		margin-top: 30px;

		a {
			text-decoration: none;
		}
	}
}

.opinie {
	.itemOpinion {
		display: inline-flex;
		justify-content: center;
		iframe {
			width: 500px;
			height: 300px;
		}
	}
}

.addition-footer {
	position: relative;
	background-image: url('../img/contact-hero.webp');
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;

	h2 {
		color: lightgray;
		font-weight: bold;
	}

	.underline {
		background-color: lightgray;
	}

	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.85);
		z-index: -5;
	}

	.contact-us {
		display: flex;
		align-items: center;
		color: $white;

		.contact-item {
			margin: 30px 0;

			h3 {
				margin-bottom: 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			p {
				i {
					margin-right: 10px;
				}
			}

			.social-media {
				font-size: 26px;

				a {
					padding: 10px;
					color: $white;
				}

				a:hover {
					color: lightgray;
				}
			}
		}
	}
}
@media (min-width: 300px) {
	.oferta {
		.price-box.dodatki {
			height: 700px;
		}
	}
}

@media (min-width: 376px) {
	header {
		h1 {
			font-size: 30px;
		}
		p {
			font-size: 16px;
		}
	}
	.oferta {
		.price-box.dodatki {
			height: 700px;
		}
	}
}

@media (min-width: 786px) {
	.modal {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		height: 100vh;
		background-color: $white;
		background-color: rgba(0, 0, 0, 0.9);

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 700px;
			height: 700px;
		}

		i {
			position: absolute;
			top: 50px;
			right: 50px;
			font-size: 50px;
			color: $white;
		}
		i:hover {
			color: $blue-color;
			cursor: pointer;
			transition: color 0.3s;
		}
	}

	.modal.active {
		visibility: visible;
		display: block;
		opacity: 1;
	}

	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 18px;
		}
	}
	.oferta {
		.price-box.dodatki {
			height: 500px;
		}
	}
}
@media (min-width: 992px) {
	.price-info {
		font-size: 18px;
	}
}
@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('../img/heart-1920.webp');
		}
		h1 {
			font-size: 46px;
		}
		p {
			font-size: 24px;
		}
		#buttonHome {
			font-size: 20px;
		}
	}
}
